<mat-tab-group mat-align-tabs="center" animationDuration="1000ms">
    <div class="container">
        <mat-tab>
            <ng-template mat-tab-label>
                Home
            </ng-template>
            <mat-card>
                <mat-card-title>
                    <h1>Home</h1>
                </mat-card-title>
                <p>The new innovation in rideshare advertisement. Never miss a chance to showcase your products or
                    services to millions of riders every day. </p>
                <p> Using a smart tablet mounted inside rideshare vehicles, we will play digital ads for different
                    brands throughout the year. You can choose to have your ad played daily, weekly, or monthly.</p>
                <p> Along with the in-vehicle advertising, our smart tablet also offers trip information, weather
                    conditions, car maintenance data, and more.</p>
                <p> The bottom line is everyone benefits. Drivers make extra money, advertisers reach more audience, and
                    passengers learn about new products and promotions.
                    
                </p>
            </mat-card>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                How it works
            </ng-template>
            <h1>How it works</h1>
            <p>We provide the driver with our smart tablet to mount inside the vehicle. The driver will need to power on
                the tablet and connect it to their smart phone via Bluetooth. The tablet is already configured and
                programmed to work once plugged into the car.
            </p>
            <p>
                Advertisers will send us their ads, and we will play those ads on our tablets. We update the ads on a
                regular basis based on advertiser’s preferences. Every time there is a new ad, it will be uploaded to
                the tablet. </p>
            <p>
                With every ad, the driver gets paid based on their driving habits and number of rides they provide.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Drivers
            </ng-template>
            <h1> Drivers</h1>
            <p>Earn money from advertising in your car. If you are a rideshare driver for Uber, Lyft, Via, or others,
                this is your chance to earn extra money by placing our smart tablet in your vehicle. So why not take
                advantage of it? Just continue to do what you already do, driving and earning more while driving.</p>
            <p>Your earning potential is based on your driving habits: the more you drive, and more passengers see the
                ads, and the more you earn.</p>
            <p>Now taking the first 100 drivers to join us.
            </p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Advertisers
            </ng-template>
            <h1>Advertisers</h1>
            <p>We have multiple options available to choose from. Our platform supports images, flyers, and videos. You
                can choose the duration, timeframe, and geographic location where you want your ad to play, and we will
                play it based on your preferences. All you need to do is send us your ad and we will perform our quality
                check and then will pass it on to the tablets to start playing the ad.</p>
            <p> Our prices are fixed, per day, per week, or per month.

            </p>
        </mat-tab>
        <mat-tab>
            <div class="container">
                <ng-template mat-tab-label>
                    About Us
                </ng-template>
                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>
                        <div class="container">
                            <mat-card>
                                <mat-card-title>
                                    <h1>About Us</h1>
                                </mat-card-title>
                                <mat-card-content>
                                    <p>We are a rideshare advertisement company that offers in-car advertising services.
                                        We
                                        connect
                                        advertisers with rideshare passengers. Our services are available for rideshare
                                        drivers,
                                        limousine services, and taxis. </p>
                                    <p> Chicago is our hometown and the first city to launch our service.
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="container">
                            <mat-card>
                                <mat-card-title>
                                    <h1>Contact</h1>
                                </mat-card-title>
                                <mat-card-content>
                                    <mat-icon> mail </mat-icon> &nbsp; babuindia@gmail.com
                                    <br>
                                   <mat-icon>  phone </mat-icon>&nbsp; 9999999999 
                                   <br>
                                   <br>
                                   <mat-icon> location_on </mat-icon>
                                </mat-card-content>

                            </mat-card>

                        </div>
                    </mat-grid-tile>

                </mat-grid-list>
            </div>
        </mat-tab>
    </div>
</mat-tab-group>